## Debugging Clean_Data DateTime

In [1]:
import pandas as pd

df = pd.read_csv('../raw_data/data.csv', low_memory = False)

In [2]:
df.shape

(6983207, 22)

In [3]:
def drop_nan(df):
    '''
    Returns a dataframe without NaN
    '''
    df = df.copy()
    #drop precinct missing values
    not_unknown = df['precinct_number'] != -99.0
    not_nan = df['precinct_number'] == df['precinct_number']
    df = df[not_unknown & not_nan]
    #drop time and date missing values
    df = df[df['time'] == df['time']]
    df = df[df['date'] == df['date']]
    #drop offense_type and crime_completed
    df = df[df['offense_type'] == df['offense_type']]
    df = df[df['crime_completed'] == df['crime_completed']]
    return df

In [4]:
df = drop_nan(df)

In [5]:
from datetime import datetime

def to_date_format(df):
    '''
    Returns dataframe with 'date' as datetime dtype
    Filters dataframe to show only complaints dated 2007 onwards
    '''
    df = df.copy()
    df['date'] = df['date'].apply(lambda x: \
                                datetime.strptime(x, '%m/%d/%Y'))
    print(type(df['date'][345_687]))
    df = df[df['date'] > datetime(2006, 12, 31, 0, 0)]
    print(type(df['date'][345_687]))
    df['date'] = df['date'].apply(lambda x: x.date())
    print(type(df['date'][345_687]))
    return df

In [7]:
df = to_date_format(df)

<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.date'>

In [8]:
type(df['date'][345_687])

datetime.date

In [9]:
df['date'][345_687]

datetime.date(2008, 10, 17)

In [10]:
df['date'].apply(type).value_counts()

<class 'datetime.date'>    6416137
Name: date, dtype: int64

## Data Viz & Modelling: Time Columns

### Load DataFrame + Imports

In [11]:
import pandas as pd

In [19]:
df = pd.read_csv('../raw_data/clean.csv')

In [20]:
df.shape

(6416137, 22)

In [22]:
df.head(3)

,complaint_id,date,time,precinct_number,offense_type,crime_completed,offense_level,premise_desc,premise,jurisdiction,...,suspect_race,suspect_sex,latitude,longitude,metro,victim_age,victim_race,victim_sex,borough,patrol_borough
0,325341655,2015-02-11,15:00:00,73,OFFENSES AGAINST PUBLIC ADMINI,True,MISDEMEANOR,INSIDE,RESIDENCE - PUBLIC HOUSING,N.Y. HOUSING POLICE,...,BLACK,M,40.664239,-73.908425,NOT SUBWAY,<18,BLACK,M,BROOKLYN,PATROL BORO BKLYN NORTH
1,393816841,2012-03-17,10:30:00,69,ASSAULT 3 & RELATED OFFENSES,True,MISDEMEANOR,INSIDE,RESIDENCE-HOUSE,N.Y. POLICE DEPT,...,UNKNOWN,UNKNOWN,40.644590,-73.892672,NOT SUBWAY,45-64,BLACK,F,BROOKLYN,PATROL BORO BKLYN SOUTH
2,802896158,2016-10-27,13:48:00,71,HARRASSMENT 2,True,VIOLATION,INSIDE,PUBLIC SCHOOL,N.Y. POLICE DEPT,...,BLACK,M,40.658758,-73.942435,NOT SUBWAY,18-24,BLACK,M,BROOKLYN,PATROL BORO BKLYN SOUTH

In [25]:
df.isna().sum()

complaint_id       0
date               0
time               0
precinct_number    0
offense_type       0
crime_completed    0
offense_level      0
premise_desc       0
premise            0
jurisdiction       0
park_name          0
suspect_age        0
suspect_race       0
suspect_sex        0
latitude           0
longitude          0
metro              0
victim_age         0
victim_race        0
victim_sex         0
borough            0
patrol_borough     0
dtype: int64

In [28]:
type(df['precinct_number'][0])

numpy.int64

In [29]:
type(df['latitude'][0])

numpy.float64

In [30]:
type(df['longitude'][0])

numpy.float64

In [ ]:
pd.to_csv()

In [ ]:
#2. to timetamps
    def to_timestamp(self):
      '''
      Returns dataframe with 'time' as datetime.time dtype
      '''
      df = self.data.copy()
      df['time'] = pd.to_datetime(df['time'], format = '%H:%M:%S').dt.time
      self.data = df
      return self.data


    #3. date format
   def to_date_format(self):
      """
      Returns dataframe with 'date' as datetime dtype
      Filters dataframe to show only complaints dated 2007 onwards
      """
      df = self.data.copy()
      df['date'] = df['date'].apply(lambda x: \
                                    datetime.strptime(x, '%m/%d/%Y')) # converts to datetime, then ISO format
      df = df[df['date'] > datetime(2006, 12, 31, 0, 0)]
      df['date'] = df['date'].apply(lambda x: x.date())
      self.data = df
      return self.data

### Generate New Columns

#### Year Column

In [23]:
type(df['time'][0])

str

In [24]:
type(df['date'][0])

str

In [15]:
df['year'] = df['date'].apply(lambda x: x.year)

AttributeError: 'str' object has no attribute 'year'

In [ ]:
clean_df['hour'] = clean_df['time'].apply(lambda x: x.hour)

### Group by Year

### Group by Month

### Group by Week

### Group by DOW

### Group by Hour