In [1]:
import pandas as pd
import pickle

# Testing Test Df: 75th Precinct

In [2]:
with open('../raw_data/test_df.pickle', 'rb') as f:
            test_df = pickle.load(f)

In [3]:
test_df.head(3)

,precinct_number,offense_type,crime_completed,offense_level,premise_desc,premise,jurisdiction,park_name,suspect_age,suspect_race,...,latitude,longitude,metro,victim_age,victim_race,victim_sex,period,borough,patrol_borough,six_hour_date
55,75,CRIMINAL MISCHIEF & RELATED OF,COMPLETED,MISDEMEANOR,REAR OF,FACTORY/WAREHOUSE,N.Y. POLICE DEPT,NOT PARK,UNKNOWN,BLACK,...,40.663657,-73.901087,NOT SUBWAY,UNKNOWN,UNKNOWN,D,2016-08-12 03:00:00,BROOKLYN,PATROL BORO BKLYN NORTH,2016-08-12 00:00:00
66,106,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,INSIDE,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,NOT PARK,18-24,ASIAN / PACIFIC ISLANDER,...,40.667652,-73.847544,NOT SUBWAY,25-44,ASIAN / PACIFIC ISLANDER,M,2016-02-15 15:00:00,QUEENS,PATROL BORO QUEENS SOUTH,2016-02-15 12:00:00
203,75,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,FRONT OF,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,NOT PARK,25-44,WHITE HISPANIC,...,40.673450,-73.885434,NOT SUBWAY,25-44,UNKNOWN,F,2017-05-07 20:00:00,BROOKLYN,PATROL BORO BKLYN NORTH,2017-05-07 18:00:00

In [4]:
test_df['precinct_number'].unique()

array([ 75, 106, 102,  69,  73,  83, 104, 101,  63])

# Testing Clean Data Df: Overall & 75th

In [5]:
with open('../raw_data/clean.pickle', 'rb') as f:
            clean_df = pickle.load(f)

In [6]:
with open('../raw_data/clean-75-precinct.pickle', 'rb') as f:
            clean_75_df = pickle.load(f)

In [7]:
clean_75_df.head(3)

,precinct_number,offense_type,crime_completed,offense_level,premise_desc,premise,jurisdiction,park_name,suspect_age,suspect_race,...,latitude,longitude,metro,victim_age,victim_race,victim_sex,period,borough,patrol_borough,six_hour_date
1,69,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,INSIDE,RESIDENCE-HOUSE,N.Y. POLICE DEPT,NOT PARK,UNKNOWN,UNKNOWN,...,40.644590,-73.892672,NOT SUBWAY,45-64,BLACK,F,2012-03-17 10:00:00,BROOKLYN,PATROL BORO BKLYN SOUTH,2012-03-17 06:00:00
45,69,PETIT LARCENY,COMPLETED,MISDEMEANOR,INSIDE,CHAIN STORE,N.Y. POLICE DEPT,NOT PARK,UNKNOWN,BLACK,...,40.636300,-73.892466,NOT SUBWAY,UNKNOWN,UNKNOWN,D,2013-06-01 16:00:00,BROOKLYN,PATROL BORO BKLYN SOUTH,2013-06-01 12:00:00
55,75,CRIMINAL MISCHIEF & RELATED OF,COMPLETED,MISDEMEANOR,REAR OF,FACTORY/WAREHOUSE,N.Y. POLICE DEPT,NOT PARK,UNKNOWN,BLACK,...,40.663657,-73.901087,NOT SUBWAY,UNKNOWN,UNKNOWN,D,2016-08-12 03:00:00,BROOKLYN,PATROL BORO BKLYN NORTH,2016-08-12 00:00:00

In [12]:
def precinct_75(df):
    '''
    Creates df with 75th precinct only and cuts lat long outliers
    '''

    df = df.copy()

    df = df[df['precinct_number'] == 75]

    # Lat/Long extremities for 75th precinct
    lat_min, lat_max, lon_min, lon_max = (
                                        40.6218192717505,
                                        40.6951504231971,
                                        -73.90404639808888,
                                        -73.83559344190869)

    max_lat = df['latitude'] <= lat_max
    min_lat = df['latitude'] >= lat_min

    max_lon = df['longitude'] <= lon_max
    min_lon = df['longitude'] >= lon_min

    # Excludes 125 wrong lat long values
    df = df[ max_lat & min_lat & max_lon & min_lon]
    
    return df

In [13]:
precinct_df = precinct_75(clean_df)

In [14]:
precinct_df.head(3)

,precinct_number,offense_type,crime_completed,offense_level,premise_desc,premise,jurisdiction,park_name,suspect_age,suspect_race,...,latitude,longitude,metro,victim_age,victim_race,victim_sex,period,borough,patrol_borough,six_hour_date
55,75,CRIMINAL MISCHIEF & RELATED OF,COMPLETED,MISDEMEANOR,REAR OF,FACTORY/WAREHOUSE,N.Y. POLICE DEPT,NOT PARK,UNKNOWN,BLACK,...,40.663657,-73.901087,NOT SUBWAY,UNKNOWN,UNKNOWN,D,2016-08-12 03:00:00,BROOKLYN,PATROL BORO BKLYN NORTH,2016-08-12 00:00:00
73,75,DANGEROUS DRUGS,COMPLETED,MISDEMEANOR,UNKNOWN,OTHER,N.Y. POLICE DEPT,NOT PARK,UNKNOWN,UNKNOWN,...,40.666027,-73.896318,NOT SUBWAY,UNKNOWN,UNKNOWN,E,2015-04-12 18:00:00,BROOKLYN,PATROL BORO BKLYN NORTH,2015-04-12 18:00:00
99,75,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,INSIDE,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,NOT PARK,UNKNOWN,UNKNOWN,...,40.679690,-73.866463,NOT SUBWAY,45-64,WHITE HISPANIC,F,2012-08-31 12:00:00,BROOKLYN,PATROL BORO BKLYN NORTH,2012-08-31 12:00:00

In [15]:
precinct_df['precinct_number'].unique()

array([75])