In [1]:
import pandas as pd
df = pd.read_csv('../raw_data/data.csv')
df.head(10)

/Users/ellynbouscasse/.pyenv/versions/3.8.5/envs/minority_report/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,complaint_id,date,time,precinct_number,offense_type,crime_completed,offense_level,borough,premise_desc,premise,...,park_name,suspect_age,suspect_race,suspect_sex,coordinates,patrol_borough,metro,victim_age,victim_race,victim_sex
0,325341655,02/11/2015,15:00:00,73.0,OFFENSES AGAINST PUBLIC ADMINI,COMPLETED,MISDEMEANOR,BROOKLYN,INSIDE,RESIDENCE - PUBLIC HOUSING,...,NaN,25-44,BLACK,M,"(40.664239422, -73.908425011)",PATROL BORO BKLYN NORTH,NaN,<18,BLACK,M
1,393816841,03/17/2012,10:30:00,69.0,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,BROOKLYN,INSIDE,RESIDENCE-HOUSE,...,NaN,NaN,NaN,NaN,"(40.644589618, -73.892672426)",PATROL BORO BKLYN SOUTH,NaN,45-64,BLACK,F
2,802896158,10/27/2016,13:48:00,71.0,HARRASSMENT 2,COMPLETED,VIOLATION,BROOKLYN,INSIDE,PUBLIC SCHOOL,...,NaN,<18,BLACK,M,"(40.658758183, -73.942434788)",PATROL BORO BKLYN SOUTH,NaN,18-24,BLACK,M
3,633812343,11/27/2014,19:00:00,112.0,RAPE,COMPLETED,FELONY,QUEENS,INSIDE,RESIDENCE - APT. HOUSE,...,NaN,25-44,WHITE HISPANIC,M,"(40.722363687, -73.851473894)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE,F
4,300349533,12/11/2013,13:30:00,24.0,GRAND LARCENY,COMPLETED,FELONY,MANHATTAN,INSIDE,DOCTOR/DENTIST OFFICE,...,NaN,NaN,NaN,NaN,"(40.793464597, -73.968949638)",PATROL BORO MAN NORTH,NaN,45-64,WHITE,F
5,944253539,08/28/2013,11:00:00,63.0,PETIT LARCENY,COMPLETED,MISDEMEANOR,BROOKLYN,INSIDE,DEPARTMENT STORE,...,NaN,NaN,NaN,NaN,"(40.625319998, -73.917873518)",PATROL BORO BKLYN SOUTH,NaN,NaN,UNKNOWN,D
6,608679532,12/04/2013,18:30:00,101.0,OFF. AGNST PUB ORD SENSBLTY &,COMPLETED,MISDEMEANOR,QUEENS,INSIDE,RESIDENCE - APT. HOUSE,...,NaN,NaN,WHITE HISPANIC,F,"(40.600171728, -73.756663063)",PATROL BORO QUEENS SOUTH,NaN,45-64,BLACK,F
7,882178622,09/14/2013,08:40:00,49.0,HARRASSMENT 2,COMPLETED,VIOLATION,BRONX,FRONT OF,STREET,...,NaN,45-64,BLACK,M,"(40.851041106, -73.861441322)",PATROL BORO BRONX,NaN,25-44,WHITE HISPANIC,F
8,240183498,01/31/2013,23:47:00,40.0,CRIMINAL TRESPASS,COMPLETED,MISDEMEANOR,BRONX,INSIDE,RESIDENCE - PUBLIC HOUSING,...,NaN,NaN,NaN,NaN,"(40.805504347, -73.916477252)",PATROL BORO BRONX,NaN,NaN,UNKNOWN,E
9,895680254,09/17/2016,00:05:00,60.0,CRIMINAL MISCHIEF & RELATED OF,COMPLETED,MISDEMEANOR,BROOKLYN,FRONT OF,RESIDENCE - APT. HOUSE,...,NaN,UNKNOWN,BLACK,M,"(40.572500982, -73.999097946)",PATROL BORO BKLYN SOUTH,NaN,25-44,BLACK,F

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6983207 entries, 0 to 6983206
Data columns (total 21 columns):
 #   Column           Dtype
---  ------           -----
 0   complaint_id     int64
 1   date             object
 2   time             object
 3   precinct_number  float64
 4   offense_type     object
 5   crime_completed  object
 6   offense_level    object
 7   borough          object
 8   premise_desc     object
 9   premise          object
 10  jurisdiction     object
 11  park_name        object
 12  suspect_age      object
 13  suspect_race     object
 14  suspect_sex      object
 15  coordinates      object
 16  patrol_borough   object
 17  metro            object
 18  victim_age       object
 19  victim_race      object
 20  victim_sex       object
dtypes: float64(1), int64(1), object(19)
memory usage: 1.1+ GB

In [3]:
# df['date']

In [4]:
#rg_expression for month/day/year
# rg_expression = r'(1[0-2]|0?[1-9])\/(3[01]|[12][0-9]|0?[1-9])\/20([1-2][0-9]|[0-2][7-9])'

In [5]:
# df['date'].str.match(rg_expression)
# mask = df['date'].str.match(rg_expression)

In [13]:
# def removing_date_before_2007(df):
# #     df['date'] = df['date'].dropna()
#     df = df[df['date'] == df['date']] 
#     rg_expression = r'(1[0-2]|0?[1-9])\/(3[01]|[12][0-9]|0?[1-9])\/20([1-2][0-9]|[0-2][7-9])'
#     boolean_values = df['date'].str.match(rg_expression)
#     return boolean_values

In [15]:
# removing_date_before_2007(df)

In [12]:
# df['date']

0          3.25342e+08
1          3.93817e+08
2          8.02896e+08
3          6.33812e+08
4           3.0035e+08
              ...
6983202    2.25471e+08
6983203    3.68442e+08
6983204    1.46134e+08
6983205    7.63119e+08
6983206    1.76656e+08
Name: date, Length: 6983207, dtype: object

In [ ]:
def drop_miss(df):
        '''
        Drop precinct and time missing values
        '''
        #drop precinct missing values
        not_unknown = df['precinct_number'] != -99.0
        not_nan = df['precinct_number'] == df['precinct_number']
        df = df[not_unknown & not_nan]
        #drop time and date missing values
        df = df[df['time'] == df['time']]
        df = df[df['date'] == df['date']]
        return df

In [9]:
# def to_date(self, column_name):
#     '''
#     Converts given column to datetime dtype, returns pd.series
#     '''
#     df = self.data.copy()
#     df[column_name] = pd.to_datetime(df[column_name], format = '%m/%d/%Y')
#     return df[column_name]

In [10]:
def to_date(column_name, df):
    '''converts given column to datetime dtype'''
    clean_df = df.copy()
    clean_df[column_name] = pd.to_datetime(clean_df[column_name], format = '%m/%d/%Y')
    return clean_df

In [16]:
df['date'] = to_date('date', df)

ValueError: time data '325341655.0' does not match format '%m/%d/%Y' (match)

In [ ]:
# # TO DO Ellyn & Camille:

# -remove the nans, replace the nan 
# -remove the weird values

# -precinct_number column:
#     -si on a precinct mais pas coordinate, we need a default value.(median du group by precinct)
#     -group by precinct and calculate a median.
#     -si pas de precint, get it back from the data on the gouv/google maps.

# -date column: remove the nans rows entirely & convert the values to a string date format(REGEX) and reject the rows before 2007. (month-day-year)
# -time column: remove the nans rows entirely.
# -offense_type column: check the dates of the offense_type, and remove the nans rows entirely if not in the last 10 years analysed.(before 2007 is not relevant)
# -crime_completed column: replace by the most_frequent value.
# -offense_level column: nothing.
# -borough column: find them back with the precinct/or lat/long (function to build)
# -premise_desc column: keep them & extract them for data viz.
# -premise column: keep them & extract them for data viz.(outliers needed to be kept for a df_visualization but not for the df for training)
# -jurisdiction column: nothing.
# -park_name column: keep them & extract them for data viz.(outliers needed to be kept for a df_visualization but not for the df for training)
# -suspect_age column: keep them & extract them for data viz.(outliers needed to be kept for a df_visualization but not for the df for training)
# -suspect_race column: keep them & extract them for data viz.(outliers needed to be kept for a df_visualization but not for the df for training)
# -suspect_sex column: keep them & extract them for data viz.(outliers needed to be kept for a df_visualization but not for the df for training)
# -coordinates column: find them back with the precinct. choose avg coordinates of a precint(function to build)
# -patrol_borough column: look at the year of most frequent missing value. (delete the rows entirely if no relevant)
# -metro column: keep them & extract them for data viz.(outliers needed to be kept for a df_visualization but not for the df for training)


# -victim_age column: replace by 'unknown' les chelous and the nans value
# -victim_race column: replace by 'unknown' les chelous and the nans value
# -victim_sex column: replace by 'unknown' les chelous and the nans value

In [ ]:
#Data Viz demain