In [1]:
import pandas as pd
df = pd.read_csv('NYPD_Complaint_Data_Historic.csv')
df.head(10)

/Users/camillebenhaim/.pyenv/versions/3.8.5/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,325341655,02/11/2015,15:00:00,NaN,NaN,73.0,02/11/2015,359,OFFENSES AGAINST PUBLIC ADMINI,749.0,...,M,NaN,40.664239,-73.908425,"(40.664239422, -73.908425011)",PATROL BORO BKLYN NORTH,NaN,<18,BLACK,M
1,393816841,03/17/2012,10:30:00,03/17/2012,11:00:00,69.0,03/17/2012,344,ASSAULT 3 & RELATED OFFENSES,114.0,...,NaN,NaN,40.644590,-73.892672,"(40.644589618, -73.892672426)",PATROL BORO BKLYN SOUTH,NaN,45-64,BLACK,F
2,802896158,10/27/2016,13:48:00,11/03/2016,13:49:00,71.0,11/03/2016,578,HARRASSMENT 2,638.0,...,M,NaN,40.658758,-73.942435,"(40.658758183, -73.942434788)",PATROL BORO BKLYN SOUTH,NaN,18-24,BLACK,M
3,633812343,11/27/2014,19:00:00,11/27/2014,22:30:00,112.0,11/28/2014,104,RAPE,157.0,...,M,NaN,40.722364,-73.851474,"(40.722363687, -73.851473894)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE,F
4,300349533,12/11/2013,13:30:00,12/11/2013,14:15:00,24.0,12/12/2013,109,GRAND LARCENY,438.0,...,NaN,NaN,40.793465,-73.968950,"(40.793464597, -73.968949638)",PATROL BORO MAN NORTH,NaN,45-64,WHITE,F
5,944253539,08/28/2013,11:00:00,08/28/2013,11:30:00,63.0,08/28/2013,341,PETIT LARCENY,333.0,...,NaN,NaN,40.625320,-73.917874,"(40.625319998, -73.917873518)",PATROL BORO BKLYN SOUTH,NaN,NaN,UNKNOWN,D
6,608679532,12/04/2013,18:30:00,12/04/2013,18:40:00,101.0,12/05/2013,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,F,NaN,40.600172,-73.756663,"(40.600171728, -73.756663063)",PATROL BORO QUEENS SOUTH,NaN,45-64,BLACK,F
7,882178622,09/14/2013,08:40:00,09/14/2013,08:40:00,49.0,09/14/2013,578,HARRASSMENT 2,638.0,...,M,NaN,40.851041,-73.861441,"(40.851041106, -73.861441322)",PATROL BORO BRONX,NaN,25-44,WHITE HISPANIC,F
8,240183498,01/31/2013,23:47:00,NaN,NaN,40.0,01/31/2013,352,CRIMINAL TRESPASS,205.0,...,NaN,NaN,40.805504,-73.916477,"(40.805504347, -73.916477252)",PATROL BORO BRONX,NaN,NaN,UNKNOWN,E
9,895680254,09/17/2016,00:05:00,09/17/2016,00:15:00,60.0,09/17/2016,351,CRIMINAL MISCHIEF & RELATED OF,259.0,...,M,NaN,40.572501,-73.999098,"(40.572500982, -73.999097946)",PATROL BORO BKLYN SOUTH,NaN,25-44,BLACK,F

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6983207 entries, 0 to 6983206
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(8), int64(2), object(25)
memory usage: 1.8+ GB

In [3]:
df.isna().sum()

CMPLNT_NUM                 0
CMPLNT_FR_DT             655
CMPLNT_FR_TM              48
CMPLNT_TO_DT         1668376
CMPLNT_TO_TM         1663829
ADDR_PCT_CD             2166
RPT_DT                     0
KY_CD                      0
OFNS_DESC              18825
PD_CD                   5865
PD_DESC                 5865
CRM_ATPT_CPTD_CD           7
LAW_CAT_CD                 0
BORO_NM                10894
LOC_OF_OCCUR_DESC    1479992
PREM_TYP_DESC          39732
JURIS_DESC                 0
JURISDICTION_CODE       5865
PARKS_NM             6958159
HADEVELOPT           6637179
HOUSING_PSA          6446298
X_COORD_CD             24064
Y_COORD_CD             24064
SUSP_AGE_GROUP       4707573
SUSP_RACE            3339032
SUSP_SEX             3472346
TRANSIT_DISTRICT     6826123
Latitude               24064
Longitude              24064
Lat_Lon                24064
PATROL_BORO             6322
STATION_NAME         6826123
VIC_AGE_GROUP        1638444
VIC_RACE                 308
VIC_SEX                  307
dtype: int64

In [4]:
df['CMPLNT_FR_DT'].value_counts()

01/01/2010    2494
01/01/2016    2394
01/01/2014    2386
01/01/2011    2379
01/01/2008    2354
              ...
10/08/2002       1
09/05/1966       1
12/28/1913       1
05/12/1997       1
07/21/1972       1
Name: CMPLNT_FR_DT, Length: 8178, dtype: int64

In [5]:
df['CMPLNT_FR_DT'].sort_values()[:-655]

1558047    01/01/1948
6045835    01/01/1964
2328772    01/01/1965
2317128    01/01/1965
1849111    01/01/1965
              ...
2293343    12/31/2019
2293331    12/31/2019
2293321    12/31/2019
2293266    12/31/2019
2292099    12/31/2019
Name: CMPLNT_FR_DT, Length: 6982552, dtype: object

In [6]:
df['BORO_NM'].unique()

array(['BROOKLYN', 'QUEENS', 'MANHATTAN', 'BRONX', 'STATEN ISLAND', nan],
      dtype=object)

In [2]:
df['CRM_ATPT_CPTD_CD'].value_counts()

COMPLETED    6863758
ATTEMPTED     119442
Name: CRM_ATPT_CPTD_CD, dtype: int64

In [3]:
df['LAW_CAT_CD'].value_counts()

MISDEMEANOR    3938246
FELONY         2150008
VIOLATION       894953
Name: LAW_CAT_CD, dtype: int64

In [9]:
df['VIC_SEX'].value_counts()

F    2733665
M    2288821
E    1119264
D     841146
U          4
Name: VIC_SEX, dtype: int64

In [12]:
df[df['LAW_CAT_CD']=='VIOLATION']

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
2,802896158,10/27/2016,13:48:00,11/03/2016,13:49:00,71.0,11/03/2016,578,HARRASSMENT 2,638.0,...,M,NaN,40.658758,-73.942435,"(40.658758183, -73.942434788)",PATROL BORO BKLYN SOUTH,NaN,18-24,BLACK,M
7,882178622,09/14/2013,08:40:00,09/14/2013,08:40:00,49.0,09/14/2013,578,HARRASSMENT 2,638.0,...,M,NaN,40.851041,-73.861441,"(40.851041106, -73.861441322)",PATROL BORO BRONX,NaN,25-44,WHITE HISPANIC,F
14,882568598,06/28/2017,09:30:00,06/28/2017,09:45:00,120.0,06/28/2017,578,HARRASSMENT 2,638.0,...,U,NaN,40.647128,-74.088181,"(40.647128347, -74.088181423)",PATROL BORO STATEN ISLAND,NaN,45-64,BLACK,F
21,171315231,06/21/2015,11:25:00,NaN,NaN,88.0,06/21/2015,578,HARRASSMENT 2,638.0,...,M,NaN,40.688488,-73.976848,"(40.688487945, -73.97684841)",PATROL BORO BKLYN NORTH,NaN,45-64,BLACK,F
24,639884813,08/26/2015,18:15:00,08/26/2015,18:30:00,30.0,08/26/2015,578,HARRASSMENT 2,638.0,...,M,NaN,40.822381,-73.953544,"(40.822380578, -73.953544401)",PATROL BORO MAN NORTH,NaN,45-64,WHITE HISPANIC,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6983157,488162445,05/19/2018,17:30:00,05/19/2018,17:35:00,25.0,05/23/2018,578,HARRASSMENT 2,638.0,...,F,NaN,40.811130,-73.936715,"(40.811130194, -73.936714506)",PATROL BORO MAN NORTH,NaN,25-44,WHITE HISPANIC,F
6983163,852126788,10/13/2018,09:00:00,10/13/2018,09:10:00,109.0,10/13/2018,578,HARRASSMENT 2,637.0,...,M,NaN,40.756473,-73.815743,"(40.756473314, -73.815743032)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE HISPANIC,F
6983173,281088297,10/03/2018,16:30:00,10/03/2018,16:45:00,79.0,10/03/2018,578,HARRASSMENT 2,638.0,...,F,NaN,40.680891,-73.944867,"(40.680890516, -73.94486737)",PATROL BORO BKLYN NORTH,NaN,<18,BLACK,F
6983190,902959278,03/01/2018,00:01:00,03/27/2019,10:00:00,88.0,04/30/2019,578,HARRASSMENT 2,638.0,...,M,NaN,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,NaN,25-44,BLACK,M
6983195,539235652,11/27/2018,21:45:00,11/27/2018,21:46:00,28.0,11/27/2018,578,HARRASSMENT 2,638.0,...,M,NaN,40.801714,-73.950001,"(40.80171408, -73.950001039)",PATROL BORO MAN NORTH,NaN,45-64,ASIAN / PACIFIC ISLANDER,M

In [14]:
df['PREM_TYP_DESC'].unique()

array(['RESIDENCE - PUBLIC HOUSING', 'RESIDENCE-HOUSE', 'PUBLIC SCHOOL',
       'RESIDENCE - APT. HOUSE', 'DOCTOR/DENTIST OFFICE',
       'DEPARTMENT STORE', 'STREET', 'DRUG STORE', 'CHAIN STORE',
       'RESTAURANT/DINER', 'HOSPITAL', 'TRANSIT - NYC SUBWAY',
       'FOOD SUPERMARKET', 'BUS (NYC TRANSIT)', 'COMMERCIAL BUILDING',
       'GAS STATION', 'FACTORY/WAREHOUSE', 'CLOTHING/BOUTIQUE',
       'PRIVATE/PAROCHIAL SCHOOL', 'TELECOMM. STORE', 'GROCERY/BODEGA',
       'BEAUTY & NAIL SALON', 'OTHER', 'PUBLIC BUILDING',
       'SOCIAL CLUB/POLICY', 'TAXI (LIVERY LICENSED)',
       'PARKING LOT/GARAGE (PUBLIC)', 'FAST FOOD', 'BAR/NIGHT CLUB',
       'PARKING LOT/GARAGE (PRIVATE)', nan, 'PARK/PLAYGROUND', 'BANK',
       'HOTEL/MOTEL', 'BUS TERMINAL', 'VARIETY STORE', 'SMALL MERCHANT',
       'HIGHWAY/PARKWAY', 'CHURCH', 'STORE UNCLASSIFIED',
       'DRY CLEANER/LAUNDRY', 'TUNNEL', 'MARINA/PIER', 'AIRPORT TERMINAL',
       'CANDY STORE', 'ATM', 'GYM/FITNESS FACILITY',
       'TAXI (YELLOW LICENSED)', 'JEWELRY', 'SYNAGOGUE',
       'OPEN AREAS (OPEN LOTS)', 'LIQUOR STORE', 'PHOTO/COPY',
       'BOOK/CARD', 'STORAGE FACILITY', 'VIDEO STORE',
       'FERRY/FERRY TERMINAL', 'SHOE', 'LOAN COMPANY', 'BUS (OTHER)',
       'CHECK CASHING BUSINESS', 'TRANSIT FACILITY (OTHER)',
       'MAILBOX OUTSIDE', 'MOSQUE', 'BUS STOP', 'CONSTRUCTION SITE',
       'BRIDGE', 'ABANDONED BUILDING', 'TAXI/LIVERY (UNLICENSED)',
       'OTHER HOUSE OF WORSHIP', 'CEMETERY', 'TRAMWAY',
       'HOMELESS SHELTER', 'MAILBOX INSIDE', 'DAYCARE FACILITY'],
      dtype=object)

In [3]:
import pandas as pd
data = pd.read_csv('Population_by_Borough_NYC.csv')
data

,Age Group,Borough,1950,1950 - Boro share of NYC total,1960,1960 - Boro share of NYC total,1970,1970 - Boro share of NYC total,1980,1980 - Boro share of NYC total,...,2000,2000 - Boro share of NYC total,2010,2010 - Boro share of NYC total,2020,2020 - Boro share of NYC total,2030,2030 - Boro share of NYC total,2040,2040 - Boro share of NYC total
0,Total Population,NYC Total,"7,891,957",100%,"7,781,984",100%,"7,894,862",100%,"7,071,639",100%,...,"8,008,278",100%,"8,242,624",100%,"8,550,971",100%,"8,821,027",100%,"9,025,145",100%
1,Total Population,Bronx,"1,451,277",18.39%,"1,424,815",18.31%,"1,471,701",18.64%,"1,168,972",16.53%,...,"1,332,650",16.64%,"1,385,108",16.8%,"1,446,788",16.92%,"1,518,998",17.22%,"1,579,245",17.5%
2,Total Population,Brooklyn,"2,738,175",34.7%,"2,627,319",33.76%,"2,602,012",32.96%,"2,230,936",31.55%,...,"2,465,326",30.78%,"2,552,911",30.97%,"2,648,452",30.97%,"2,754,009",31.22%,"2,840,525",31.47%
3,Total Population,Manhattan,"1,960,101",24.84%,"1,698,281",21.82%,"1,539,233",19.5%,"1,428,285",20.2%,...,"1,537,195",19.2%,"1,585,873",19.24%,"1,638,281",19.16%,"1,676,720",19.01%,"1,691,617",18.74%
4,Total Population,Queens,"1,550,849",19.65%,"1,809,578",23.25%,"1,986,473",25.16%,"1,891,325",26.75%,...,"2,229,379",27.84%,"2,250,002",27.3%,"2,330,295",27.25%,"2,373,551",26.91%,"2,412,649",26.73%
5,Total Population,Staten Island,"191,555",2.43%,"221,991",2.85%,"295,443",3.74%,"352,121",4.98%,...,"443,728",5.54%,"468,730",5.69%,"487,155",5.7%,"497,749",5.64%,"501,109",5.55%

In [4]:
data.columns

Index(['Age Group', 'Borough', '1950', '1950 - Boro share of NYC total',
       '1960', '1960 - Boro share of NYC total', '1970',
       '1970 - Boro share of NYC total', '1980',
       '1980 - Boro share of NYC total', '1990',
       '1990 - Boro share of NYC total', '2000',
       '2000 - Boro share of NYC total', '2010',
       '2010 - Boro share of NYC total', '2020',
       '2020 - Boro share of NYC total', '2030',
       '2030 - Boro share of NYC total', '2040',
       '2040 - Boro share of NYC total'],
      dtype='object')